<navbar></navbar>

<div class="container">
    <form>
        <div class="form-group col-6">
          <label for="nickname">nickname</label>
          <input type="text" name="nickname" id="" class="form-control" placeholder="" aria-describedby="nickname">
          <small id="nickname" class="text-muted">Nickname is taken.</small>
        </div>
        <div class="form-group col-6">
            <label for="mail">mail</label>
            <input type="email" name="mail" id="" class="form-control" placeholder="" aria-describedby="mail">
            <small id="mail" class="text-muted">Mail is taken.</small>
          </div>
          <div class="form-group col-6">
            <label for="password">password</label>
            <input type="password" name="" id="" class="form-control" placeholder="" aria-describedby="password">
            <small id="password" class="text-muted">Passwords not mach</small>
          </div>
          <div class="form-group col-6">
            <label for="re-password">re-password</label>
            <input type="password" name="" id="" class="form-control" placeholder="" aria-describedby="re-password">
            <small id="re-password" class="text-muted">Passwords not mach</small>
          </div>
          <div class="col-6 justify-content-center d-flex">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
    </form>
</div>
