$borderColor: #d1d1d1

.quizresult
    border: 0.1rem solid $borderColor
    &-header
        padding: 4px
        padding-left: 1rem
        display: flex
        justify-content: space-between
        align-items: center
        &:hover
            background: #e9e9e9
            cursor: pointer
        h1,h2,h4
            margin: 0
        .arrow
            color: black
            font-size: 1rem
            margin-right: 1rem
    &-body
        user-select: none
        border-top: 0.1px solid $borderColor
        .result-card
            padding: 0
            margin: 0
            border: 1px solid $borderColor
            border-top: none
            font-size: 1.1rem

            &:last-child
                margin-bottom: 0.5rem 
            
        .result-correct
            color: #0fb418
        .result-wrong
            color: #eb0a0a

