<div class="mb-1">

    <div class="report-header" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <div class="px-3 d-flex justify-content-between align-items-center">
            <p class="d-none d-md-block">{{ report!.type | uppercase }} | {{ report!.card.lang1}}</p>
            <p class="d-none d-md-block">{{ report!.createdAt | date:'yyyy.MM.dd HH:mm'}}</p>
            <p class="d-md-none">{{ report!.createdAt | date:'yyyy.MM.dd'}}</p>
            <p>{{ report!.status | uppercase }}</p>
            <i class="arrow fas" [ngClass]="{ 'fa-chevron-up' : !isCollapsed, 'fa-chevron-down' : isCollapsed }"></i>
        </div>
    </div>

    <div class="report-body" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="row p-2 px-4">
            <p class="col-6 col-sm-7 col-md-9 report-type">type: {{report!.type | uppercase }} </p>
            <button class="col-6 col-sm-5 col-md-3 btn btn-outline-danger float-right">Delete Report</button>
            <p class="col-12 report-text">comment: {{report!.text}} </p>
        </div>     
    </div>

</div>
