<navbar shouldBeActive="profile"></navbar>


<div class="myClass">
    <i class="fas fa-cloud-upload-alt"></i>
</div>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>First</a>
      <ng-template ngbNavContent>First content</ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Second</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>


  <app-dif-dots></app-dif-dots>

<p>profile works!</p>
