<div class="mb-1">
    <div class="report-header" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        <div class="px-3 d-flex justify-content-between align-items-center">
            <div class="col-4">
                <p class="d-none d-md-block">{{ report!.type | uppercase }} | {{ report!.card.lang1}}</p>
            </div>
            <div class="col-5">
                <p>{{ report!.createdAt | date:'yyyy.MM.dd HH:mm'}}</p>
            </div>
            <div class=""><em class="arrow fas"
                    [ngClass]="{ 'fa-chevron-up' : !isCollapsed, 'fa-chevron-down' : isCollapsed }"></em>
            </div>
        </div>

    </div>

    <div class="report-body" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="row p-2 px-4">
            <p class="col-6 col-sm-7 col-md-9 report-type">type: {{report!.type | uppercase }} </p>
            <button class="col-6 col-sm-5 col-md-3 btn btn-outline-info float-right" (click)="onSeeDeckClick()">See
                Deck</button>
            <p class="col-12 report-text">comment: {{report!.text}} </p>
        </div>

        <form class="row px-2" [formGroup]=cardForm>
            <div class="form-group col-6">
                <input type="text" class="form-control" formControlName="lang1">
                <span class="form-control-feedback" [ngClass]="{'redoActive' : statusLang(1) }"
                    (click)="redoClicked(1)"><em class="fas fa-redo"></em></span>
            </div>
            <div class="form-group col-6">
                <input type="text" class="form-control" formControlName="lang2">
                <span class="form-control-feedback" [ngClass]="{'redoActive' : statusLang(2) }"
                    (click)="redoClicked(2)"><em class="fas fa-redo"></em></span>
            </div>
        </form>
        <div class="d-flex justify-content-around mb-3">
            <button class="btn btn-danger" (click)="ignoreReport()">Ignore</button>
            <button class="btn btn-outline-success" (click)="acceptReport()">{{ shouldSaveCard ? 'Save Card And Accept'
                : 'Accept'}}</button>
        </div>
    </div>

</div>