.myBookMark
    background: white
    width: 3rem 
    height: 3rem
    transition: all 1s
    display: flex
    align-items: center
    justify-content: center
    em
        color: black
        transform: scale(2)
        

.myBookMark:hover
    em
        transform: scale(1.8)
        color: #2c2c2c

.learnFlag
    height: 2rem
    width: auto
    
  
