$borderColor: #d1d1d1

.formFlag
    background: #cfcfcf
    padding: 0.2rem
    border-radius: 0.1rem
    height: 2.4rem
    width: auto

   
.flagLabel
    padding: 0.2rem

.flagToggle
    padding: 0
    height: 1.8rem
    filter: grayscale(100%)

.flagActive
    filter: grayscale(0%)

#lq-nav
    margin-top: 3rem
    ul
    a
        text-decoration: underline
        font-size: 1.2rem
        padding: 0.5rem 2rem
        border-bottom: none
        color: black
       


li .active
    background: #ececec !important
    border: none  !important
    
#lq-body
        background: #ececec

h3
    margin: 0

.private
    color: white
    padding: 0.4rem 1rem
    background: #3d3d3d
    line-height: 1.3rem
    font-size: 1.1rem
    margin: 0
    border-radius: 0.2rem

    &-msg
        margin: 0
        font-size: 1.2rem
        padding: 1rem
        border: 1px solid $borderColor
        p
            margin: 0