<navbar></navbar>

<div class="container">
    <div class="border">
    <div class="d-flex justify-content-between px-2">

        <div class=""><h1>{{deckInfo? deckInfo.name : ""}}</h1></div>
        <div class=""><a href="/decks/modify?id={{ deckInfo? deckInfo.id : 0}}" class="btn btn-dark m-2"><em class="fas fa-cogs"></em></a></div>
        
    </div>
    
    <div class="d-flex justify-content-start align-items-center">
            <div class="ml-2 mr-2"><img alt="" class="formFlag" src="{{deckInfo? '/assets/images/flags/wide/'+deckInfo.lang1+'.svg' : '#'  }}"></div>
            <div class="mr-2"><img alt="" class="formFlag" src="{{deckInfo? '/assets/images/flags/wide/'+deckInfo.lang2+'.svg' : '#'  }}"></div>
            <app-dif-dots [currentValue]="3" ></app-dif-dots>
    </div>

    <div class="mt-4 ">
        <ul ngbNav #nav="ngbNav" id="lq-nav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1" (click)="onlqClick(0)" >
            <a ngbNavLink class="lq-nav-active">Learn</a>
            <ng-template ngbNavContent>
                <form [formGroup]=learnStartForm >
                    <div class="form-group d-flex justify-content-around align-items-center mb-0 flex-wrap">

                        <div class="btn-group btn-group-toggle mb-2" ngbRadioGroup formControlName="type">
                            <label ngbButtonLabel class="btn-outline-secondary">
                              <input ngbButton type="radio" value="all">All Cards
                            </label>
                            <label ngbButtonLabel class="btn-outline-secondary">
                              <input ngbButton type="radio" value="bookmarked">Bookmarked
                            </label>
                            <label ngbButtonLabel class="btn-outline-secondary">
                              <input ngbButton type="radio" value="statisctic">Statistic
                            </label>
                        </div>

                      <button (click)="onLearnSubmit()" type="submit" class="btn btn-dark ml-1 mb-2">Let's Learn</button>
                    </div>  
                </form>
            </ng-template>
            </li>
            <li [ngbNavItem]="2" (click)="onlqClick(1)">
            <a ngbNavLink [ngClass]="{'lq-nav-active' : true}">Quiz</a>
            <ng-template ngbNavContent>
                <form [formGroup]=quizStartForm>
                    <div class="form-group d-flex mb-0 justify-content-around align-items-center flex-wrap">
                      
                        <div class="btn-group btn-group-toggle mb-2" ngbRadioGroup formControlName="amount">
                            <label ngbButtonLabel class="btn-outline-secondary">
                              <input ngbButton type="radio" value="5">&nbsp;5&nbsp;
                            </label>
                            <label ngbButtonLabel class="btn-outline-secondary">
                              <input ngbButton type="radio" value="10">10
                            </label>
                            <label ngbButtonLabel class="btn-outline-secondary">
                              <input ngbButton type="radio" value="20">20
                            </label>
                          </div>

                        <div class="btn-group btn-group-toggle mb-2" ngbRadioGroup formControlName="language">
                            <label ngbButtonLabel class="btn-outline-secondary flagLabel">
                              <input ngbButton type="radio" value="lang1"><img alt=""  class="flagToggle" [ngClass]="{'flagActive': selectedLang == 'lang1'}" src="{{deckInfo? '/assets/images/flags/wide/'+deckInfo.lang1+'.svg' : '#'  }}">
                            </label>
                            <label ngbButtonLabel class="btn-outline-secondary flagLabel">
                              <input ngbButton type="radio" value="lang2"><img alt=""  class="flagToggle" [ngClass]="{'flagActive': selectedLang == 'lang2'}" src="{{deckInfo? '/assets/images/flags/wide/'+deckInfo.lang2+'.svg' : '#'  }}">
                            </label>
                        </div>

                        <div class="btn-group btn-group-toggle mb-2" ngbRadioGroup formControlName="type">
                            <label ngbButtonLabel class="btn-outline-secondary">
                              <input ngbButton type="radio" value="all">All
                            </label>
                            <label ngbButtonLabel class="btn-outline-secondary">
                              <input ngbButton type="radio" value="bookmarked">Marked
                            </label>
                            <label ngbButtonLabel class="btn-outline-secondary">
                              <input ngbButton type="radio" value="statisctic">Statistic
                            </label>
                        </div>

                      <button (click)="onQuizSubmit()" type="submit" class="btn btn-dark mb-2">Start Quiz</button>
                    </div>  
                </form>
            </ng-template>
            </li>
        </ul>
      
        <div id="lq-body" [ngbNavOutlet]="nav" class="pt-2"></div>
        </div>
    </div>
   
    <div class="row mt-4">
      <div class="col-12 col-lg-6" >
        <div class="d-flex justify-content-between align-items-center">
            <h3>Last Quiz Results:</h3>
            <button (click)=onShowAllResult() class="my-2 btn btn-outline-success">Show all quiz results</button>
        </div>
        <div *ngIf="lastResults != undefined; then showResult else noResult"></div>
        <ng-template #showResult><app-quiz-result-list [quizResults]="lastResults!" ></app-quiz-result-list></ng-template>

        <ng-template #noResult> <h5 class="text-center">No result found</h5> </ng-template>
        
      </div>
      <app-deck-info-cards class="col-12 col-lg-6 p-0"  *ngIf="deckInfo != undefined;" [deckId]=deckInfo.id></app-deck-info-cards>
    </div>
    

    

</div>

