.formFlag
    background: #cfcfcf
    padding: 0.2rem
    border-radius: 0.1rem
    height: 2.4rem
    width: auto

.flagLabel
    padding: 0.2rem

.flagToggle
    padding: 0
    height: 1.8rem
    filter: grayscale(100%)

.flagActive
    filter: grayscale(0%)
    