<navbar></navbar>

<div class="container">

    <div class="border">
        <div class="row">

            <div class="col-6 col-sm-8">
                <div class="d-flex flex-column">
                    <div class="p-2 m-2"><h1>{{deckInfo? deckInfo.name : "Name..."}}</h1></div>
                    
                    <div class="row ml-2">
                        <div class="p-2">{{deckInfo? deckInfo.lang1 : "Name..."}}</div>
                        <div class="p-2">{{deckInfo? deckInfo.lang2 : "Name..."}}</div>
                        <div class="p-2">{{deckInfo? deckInfo.level : "Name..."}}</div>
                    </div>
                    
                </div>
            </div>

            <div class="col-6 col-sm-4 d-flex flex-column">
                <a href="/decks/modify?id={{ deckInfo? deckInfo.id : 0}}" (click)="onClick()" class="btn btn-primary m-2">MODIFY</a>
                <button (click)="onClick()" class="btn btn-warning m-2">LEARN</button>
                <button (click)="onClick()" class="btn btn-primary m-2">QUIZ</button>
            </div>
        </div>
    </div>


    <div class="border mt-2" style="background-color: rgb(245, 244, 244);">
        <div class="d-flex justify-content-around">
            <button class="btn btn-outline-primary col-5 mr-1">Statistic</button>
            <button class="btn btn-outline-primary col-5 ml-1">Words</button>
        </div>

        <div style="height: 40rem; "></div>
    </div>
</div>

