<navbar></navbar>

<div class="container">

    <div class="border">
        <div class="row">

            <div class="col-6 col-sm-8">
                <div class="d-flex flex-column">
                    <div class="p-2 m-2"><h1>{{deckInfo? deckInfo.name : "Name..."}}</h1></div>
                    
                    <div class="row ml-2">
                        <div class="p-2">{{deckInfo? deckInfo.lang1 : "Name..."}}</div>
                        <div class="p-2">{{deckInfo? deckInfo.lang2 : "Name..."}}</div>
                        <div class="p-2">{{deckInfo? deckInfo.level : "Name..."}}</div>
                    </div>
                    
                </div>
            </div>

            <div class="col-6 col-sm-4 d-flex flex-column">
                <a href="/decks/modify?id={{ deckInfo? deckInfo.id : 0}}" class="btn btn-primary m-2">MODIFY</a>
                <a href="/decks/learn?id={{ deckInfo? deckInfo.id : 0}}" class="btn btn-warning m-2">LEARN</a>
                <div class="p-2 m-2 border">
                    <form action="">
                        <div class="form-group d-flex justify-content-around align-items-center mb-0">
                          
                          <div class="form-check form-check-inline col-4 pt-2 ">
                                <label class="form-check-label mx-2">
                                    <input class="form-check-input" type="radio" name="amountSelector" id="" value="5">5
                                </label>
                                <label class="form-check-label mx-2">
                                    <input class="form-check-input" checked type="radio" name="amountSelector" id="" value="10">10
                                </label>
                                <label class="form-check-label mx-2">
                                    <input class="form-check-input" type="radio" name="amountSelector" id="" value="20">20
                                </label>  
                          </div>

                         
                          <select class="form-control col-4" name="langSelector" id="langSelector">
                            <option>HUN</option>
                            <option>USA</option>
                            <option>GER</option>
                          </select>
                          <a href="/decks/quiz?id={{ deckInfo? deckInfo.id : 0}}" type="submit" class="btn btn-primary">QUIZ</a>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="border mt-2" style="background-color: rgb(245, 244, 244);">
        <div class="d-flex justify-content-around">
            <button class="btn btn-outline-primary col-5 mr-1">Statistic</button>
            <button class="btn btn-outline-primary col-5 ml-1">Words</button>
        </div>

        <div style="height: 40rem; "></div>
    </div>
</div>

