<navbar></navbar>

<div class="container">
  <br />
  
  {{ testBool }}

 
  <div nfIf=testBool><h1>Modify a deck</h1></div>

  <button class="btn" [ngClass]="{'btn-warning': testBool}" (click)="testbutton()">Test</button>
  
  <hr>

  <form [formGroup]=deckForm>
    <div class="row">
      <div class="form-group col-12 col-md-6">
        <label for="name">Name</label>
        <input type="text" formControlName="name" name="name" id="name" class="form-control" placeholder="" aria-describedby="deckId">
        <small id="name" class="text-muted d-none">Deck name is required</small>
      </div>

      <div class="form-group col-6 col-md-3">
        <label for="lang1Select">Frist Language</label>
        <select class="form-control" formControlName="lang1" id="lang1Select">
          <option>USA</option>
          <option>HUN</option>
          <option>GER</option>
        </select>
      </div>

      <div class="form-group col-6 col-md-3">
        <label  for="lang2Select">Second Language</label>
        <select class="form-control" formControlName="lang2" id="lang2Select">
          <option>USA</option>
          <option>HUN</option>
          <option>GER</option>
        </select>
      </div>

      <div class="custom-control custom-checkbox col-sm-12 ml-3">
        <input type="checkbox" formControlName="public" class="custom-control-input" id="publicCheckBox">
        <label class="custom-control-label" for="publicCheckBox">Public</label>
      </div>

    </div>
    <br />
    <table class="table" formArrayName="cards">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{lang1}}</th>
          <th scope="col">{{lang2}}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let cardGroup of cards.controls; let i=index">
          
            <tr [formGroupName]=i>
                <th scope="row">{{i + 1}}</th>
                <td><input class="form-control" [ngClass]="{'btn-danger': isCardShouldBeDeleted(i)}" type="text" formControlName="lang1" (ngModelChange)=modelChanged(i)></td>
                <td><input class="form-control" [ngClass]="{'btn-danger': isCardShouldBeDeleted(i)}" type="text" formControlName="lang2" (ngModelChange)=modelChanged(i)></td>
                <td><div style="width: 2.5rem;" (click)=deleteButtonClick(i) 
                          class="btn" [ngClass]="(isCardShouldBeDeleted(i))?'btn-warning':'btn-danger'">
                            <i [ngClass]="(isCardShouldBeDeleted(i))?'fa-undo':'fa-times'" class="fas"></i>
                      </div>
                </td>
            </tr>
        
          </ng-container>
      </tbody>
    </table >
    
    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>

  </form>
  
 

  <pre>{{ deckForm.value | json }}</pre>
  
</div>


