<div class="container">
  <br />

    <div *ngIf="formType == 'create'; else elseBlockHeader">
      <h1>Create a new deck</h1>
    </div>
    <ng-template #elseBlockHeader>
        <h1>Modify a deck</h1>
    </ng-template>
  <hr>
  
    
  <form [formGroup]=deckForm>
    <div class="row">
      <div class="form-group col-12 col-md-6">
        <label for="name">Name</label>
        <input class="form-control" [class.is-invalid]="deckName?.invalid && deckName?.touched" type="text" formControlName="name" name="name" id="name"  placeholder="" aria-describedby="deckId">
        <small *ngIf="deckName?.errors?.required && deckName?.touched" id="name" class="text-danger">Deck name is required.</small>
        <small *ngIf="deckName?.errors?.minlength && deckName?.touched" id="name" class="text-danger">Deck name should be at least 6 characters.</small>
      </div>

      <div class="form-group col-6 col-md-3">
        <label for="lang1Select">1st Language</label>
        <select class="form-control" formControlName="lang1" id="lang1Select">
          <option *ngFor="let flag of flagInfo" [value]=flag.dataName>{{flag.displayName}}</option>
        </select>
      </div>

      <div class="form-group col-6 col-md-3">
        <label  for="lang2Select">2nd Language</label>
        <select class="form-control" formControlName="lang2" id="lang2Select">
          <option *ngFor="let flag of flagInfo" [value]=flag.dataName>{{flag.displayName}}</option>
        </select>
      </div>

      <div class="col-12 col-md-6 d-flex justify-content-left align-items-center pb-2">
        <p class="m-0">Difficulty:</p>
        <app-dif-dots class="col-6" [isInput]="true" (setValue)="setDifValue($event)" [currentValue]="this.deckForm.get('difficulty')?.value" ></app-dif-dots>
      </div>
      
      <div class="custom-control custom-checkbox col-5 ml-3">
        <input type="checkbox" formControlName="public" class="custom-control-input" id="publicCheckBox">
        <label class="custom-control-label" for="publicCheckBox">Public</label>
      </div>

    </div>
    <br />
    <!-- <table class="table" formArrayName="cards">
      <thead>
        <tr>
          <th scope="col">&nbsp;</th>
          <th scope="col" class="text-center"><img class="formFlag" src="/assets/images/flags/wide/{{lang1}}.svg"></th>
          <th scope="col"class="text-center"><img class="formFlag" src="/assets/images/flags/wide/{{lang2}}.svg"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let cardGroup of cards.controls; let i=index">
          
            <tr [formGroupName]=i>
                <th scope="row" class="b-danger">
                  <div class="b-danger">
                    <em *ngIf="selectedCardId == cardGroup.value.id; else seqNum" class="selectedCard fas fa-exclamation"></em>
                    <ng-template class="b-danger" #seqNum><span class="border">{{i + 1}}</span></ng-template>
                  </div>
                </th>
                <td><input class="form-control" [ngClass]="['','btn-danger','btn-primary','btn-outline-success'][getCardActionAt(i, 1)]" type="text" formControlName="lang1" (change)=modelChanged(i)></td>
                <td><input class="form-control" [ngClass]="['','btn-danger','btn-primary','btn-outline-success'][getCardActionAt(i, 2)]" type="text" formControlName="lang2" (change)=modelChanged(i)></td>
                <td><div style="width: 2.5rem;" (click)=deleteButtonClick(i) 
                          class="btn" [ngClass]="(isCardShouldBeDeleted(i))?'btn-warning':'btn-danger'" >
                            <i [ngClass]="(isCardShouldBeDeleted(i))?'fa-undo':'fa-times'" class="fas"></i>
                    </div>
                </td>
            </tr>
        
          </ng-container>
      </tbody>
    </table > -->
    <div class="words-container">
      <ng-container *ngFor="let cardGroup of cards.controls; let i=index">
        <div [formGroup]="getCardFormGroup(i)" class="words-container-row col-12 p-0 m-0 row mb-1 py-1 border">
          <div class="words-container-counter order-1 order-sm-1 col-6 col-sm-1 p-0 m-0 pl-4 d-flex justify-content-start align-items-center">
            <em *ngIf="selectedCardId == cardGroup.value.id; else seqNum" class="selectedCard fas fa-exclamation"></em>
            <ng-template class="b-danger" #seqNum><span>{{i + 1}}</span></ng-template>
          </div>
          <div class="words-container-words order-3 order-sm-2 col-12 col-sm-10 p-0 m-0 row">
            <div class="words-container-word col-12 col-md-6 p-0 d-flex justify-content-center">
              <input class="form-control col-11 my-1"
                [ngClass]="['','btn-danger','btn-primary','btn-outline-success'][getCardActionAt(i, 1)]" type="text"
                formControlName="lang1" (change)=modelChanged(i)>
            </div>
            <div class="words-container-word col-12 col-md-6 p-0 d-flex justify-content-center">
              <input class="form-control col-11 my-1"
                [ngClass]="['','btn-danger','btn-primary','btn-outline-success'][getCardActionAt(i, 2)]" type="text"
                formControlName="lang2" (change)=modelChanged(i)>
            </div>
          </div>
          <div class="words-container-delete order-2 order-sm-3 col-6 col-sm-1 p-0 m-0 d-flex justify-content-center align-items-center">
            <div style="width: 2.5rem;" (click)=deleteButtonClick(i) class="btn"
              [ngClass]="(isCardShouldBeDeleted(i))?'btn-warning':'btn-danger'">
              <i [ngClass]="(isCardShouldBeDeleted(i))?'fa-undo':'fa-times'" class="fas"></i>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <br>

    <div class="col-12 d-flex justify-content-around" *ngIf="formType == 'create'; else elseBlockSubmit">
          <button (click)="onCancelCreate()" class="btn btn-outline-danger px-4 py-2">Cancel</button>
          <button type="submit" [disabled]="!deckForm?.valid && deckName?.touched" (click)="onSubmitCreate()" class="btn btn-primary px-4 py-2">Create</button>
    </div>
    <ng-template #elseBlockSubmit>
        <div class="row">
            <div class="col-12 d-flex justify-content-around align-items-center">
                <button (click)="onSubmitDelete()" class="btn btn-outline-danger">Delete Deck</button>
                <button (click)="onSubmitPatch()" class="btn btn-success">Update Deck</button>
            </div>
        </div> 
        
    </ng-template>

  </form>

</div>

<br><br>
<!-- <pre>{{ deckForm.value | json }}</pre> -->


