<div class="card mb-4">
        <div class="card-header">
          <p (click)="onNameClick()">{{name}}</p>
        </div>
        <ul class="list-group list-group-flush">
         
          <li class="list-group-item"><app-dif-dots class="" [currentValue]="3"></app-dif-dots> </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <img class="col-4" src="/assets/images/flags/wide/{{lang1}}.svg">
              <div class="col-4 text-center">{{count}}</div>
              <img class="col-4" src="/assets/images/flags/wide/{{lang2}}.svg">
            </div>
          </li>
        </ul>
</div>

